 
 .container_michis {
    position: absolute;
    
    width: 95%;
    display: inline-block;
    /* margin-top: 90px; */
    top: 40%;
     
     height: 100%;
     z-index: 01;
     /* background-color: blue; */
 }
 /* figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
} */




figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

 .iconosAbout{
    width: 150px;
    height: 150px;
    margin:2px;
    border: thin #c0c0c0 solid;
}


 #pacha{
     position: absolute;
     top: 15%;
     /* left: 50%; */
     display: inline-block;
     transition: 6s;
 }
 #pacha:hover{
    transform: translate(80px,-30px) rotate(40deg);
 }
 
 #amigo{
    position: absolute;
    top: 10%;
    left: 20%;
    display: inline-block;
    transition: 6s;
}
#amigo:hover{
    transform: translate(-30px,80px) rotate(40deg);
   
}
 #michi{
    position: absolute;
    top: 30%;
    left: 40%;
    display: inline-block;
    transition: 6s;
    transform: translate(50px, -30px);
}
 #michi:hover{
    
    transform: skewY(20deg);
} 
#manchis{
    position: absolute;
    top: 0%;
    left: 40%;
    display: inline-block;
    transition: 12s;
    transform: translate(50px, -30px);
}
#manchis:hover{
    transform: translate(380px) rotate(20deg);
    z-index: 1;
}
#cabezon{
    position: absolute;
    top: 20%;
    left: 60%;
    display: inline-block;
    transition: 6s;
    transform: translate(50px, -30px);
}
#muerto{
    position: absolute;
    top: 0%;
    left: 80%;
    display: inline-block;
    transition: 6s;
    transform: translate(50px, -30px);
}
#muerto:hover,#cabezon:hover{
    transform: scaleY(1.1);
    transform: scaleX(1.1); 
   
}