*{
   margin: 0;
   padding: 0;
    box-sizing:border-box ;
   
}
body {
    width: 100%;
    background-color: #EDDCB9;
}

.container {
    display: inline-block;
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin: 0px;
    background-image: url("../images/pexels-louis-2101187.jpg");
    background-size: cover;
    background-position-x: 100;

    position: relative;
}



.contImagen {
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-bottom: 20px;
   top: -30px;
   left: 10%;
   background-color: transparent;

}

.imagen {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    
    overflow: hidden;
    margin-top: 0px;
    border: 2px solid rgb(206, 131, 88);
   

}

.head_1 {
   position: relative;
   margin-top: -100px;
   width: 90%;
   top: 0;
    margin-left: 30px;
    height: 150px;
    z-index: 1;
    background-color: transparent;
}

#nav{
    position: absolute;
    
    left: 30%;
    top: 60px;
    width: auto;
    height: 50px;
    background-color: transparent;
  }
  .nav_a{
    
    display: inline-block;
    padding: 10px 10px;
    letter-spacing: 3px;
   text-align: center;
    
 
    text-decoration: none;
    width: 200px;
    /*height: 50px; */
   
    background-color: #d4a373;
    color: #fefae0;
    border:2px solid #746c38;
    margin: 20px;
    border-radius: 12px;
    font-weight: bold;
    
    font-size: 24px;
   
    box-shadow: 2px 4px rgb(128, 115, 0);
    
  
  }
  .nav_a:hover{
    background-color: #EDDCB9;
    color:#d4a373 ;
    border:2px solid rgb(100, 99, 20);
  }
  
  #selected:hover{
    background-color: rgb(151, 194, 163);
    border:2px solid rgb(11, 128, 27);
  
  
  }
  #selected{
    background-color:#588157;
    border:2px solid rgb(85, 202, 100);
    color: #dad7cd;
   
    box-shadow: 2px 4px rgb(128, 115, 0);
  }

/* main*/
main {
    margin-left: 60px;
    height: 100%;
}
section{
    margin: 20px 0px;

}
article{
    margin: 30px 20px;
}
h2{
    margin-bottom: 10px;
}


.titulo {
    text-decoration: underline rgb(182, 209, 63);
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
  
}

.subTitulo {
    text-shadow: 1px 1px 2px rgb(150, 175, 127), 0 0 1em rgb(142, 151, 14), 0 0 0.2em chocolate;
    font-size: 28px;
    font-style: italic;


}


.container_contac{
    position:absolute;
    top: 50%;
    width: 90%;
    height: 100%;
    display: inline-block;
    

}

.container_a{
    position: relative;
   
    display: inline-block;
    
    background-size: cover;
    width: 20%;
    height: 30%;
    margin: auto;
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 32px;
    border: 3px solid rgb(11, 109, 52);
    box-shadow: 5px 10px #888888;
    text-align: center;

    
}
#container_a{
    top: 0%;
    left:20%;
    background-image: url("https://www.enriquedans.com/wp-content/uploads/2018/06/GitHub-Octocat.jpg");

}
#container_b{
    top: 0%;
    left:50%; 
    background-image: url("https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw");
}



figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}




figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

