* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mochiy Pop One', sans-serif;
  color: aliceblue;
  background-color: #4d4b51;
  z-index: 0;

}


/* ************** ESTILOS DEL HEADER ********* */
/* estilos de bloque de h1 y nav  */
.container_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  height: 7vh;
  width: 100%;
  z-index: 0;


}

.container_header>h1 {
  display: flex;
  width: 40vw;
  margin-left: 7%;
  font-style: italic;
  font-size: 2.0vw;
  font-weight: normal;
  justify-content: center;
  border-bottom: 1px solid#FC0;
  text-shadow: rgb(255, 0, 0) 1px 0 10px;



}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: end;

  margin-top: 5%;
  margin-right: 5%;
  width: 40vw;

  z-index: 3;
  background-color: transparent;

}

.nav_a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  font-size: small;
  text-decoration: none;
  color: aliceblue;
  border: 1px solid rgb(0, 0, 0);

  padding: 0px 10px;
  margin: 10px 5px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px rgb(156, 158, 158);
  min-height: 8vh;

}

.nav_a:hover {
  background-color: rgb(141, 141, 236);
  border: 2px solid blue;
}

#selected:hover {
  background-color: rgb(151, 194, 163);
  border: 2px solid rgb(11, 128, 27);


}


#selected {
  background-color: rgb(11, 128, 27);
  border: 1px solid rgb(0, 0, 0);

}



/* estilos de imagen */


.container {
  display: flex;
  width: 100%;
  height: 36vh;
  overflow: hidden;
  
  display: inline-block;
  background-image: url("../img/design1_image2.jpg");
  background-size: cover;
  background-position-y: 35%;
  z-index: 2;


}


.title {
  
  color: rgb(247, 244, 244);
  background-color: black;
  font-size: 24px;
  text-align: center;
  border: 2px solid black;
  width: 100%;


}

/* ********** ESTILOS DEL MAIN  ********************* */
main {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 0.5%;
  min-height: 30vh;

}


/* estilos del logo  */
#figure2 {
  display: flex;
  flex-direction: column;
  width: 10%;
  border-radius: 8px;
  margin-left: 10%;
  margin-top: 2%;

}

#figure2>img {
  width: 100%;


}

/* estilos del contenedor de texto del main */
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5%;

  width: 80%;
  text-align: left;

}

#container2 {
  width: 30%;
  margin-left: 1px;
  margin-left: 3%;

}

.container2 h3,
h2 {
  margin-bottom: 10px;
  text-shadow: #FC0 1px 0 10px;
  font-weight: 500;
}

h5 {
  font-weight: 500;
  font-style: italic;
  width: 80%;
  text-indent: 2%;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;


}

h4 {
  font-weight: normal;
  font-style: italic;
  text-shadow: rgb(30, 163, 90) 1px 0 10px;

}

.a_contact {
  color: rgb(87, 122, 238);
  text-decoration-color: black;
}

section {
  margin-bottom: 10px;
}

/**      rules     **/
.abc {
  margin-left: 10%;
  /* list-style-type: lower-latin;
   */
  list-style-image: url(../img/001-hockey.png);

}


.li_style {
  margin-left: 5%;
  list-style-type: circle;
}

.regulations {
  margin: 10px 30px;

}

.regulations>li {
  margin-bottom: 1%;
  font-style: italic;
}

.rules>h4 {
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
 
  
  border: 1px solid black;
  height: 10%;
  padding: 2px;
  background-color: black;

  font-size: 8px;

}

footer>p {
  background-color: black;
}

th,
td {
  width: 5%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

th {
  text-shadow: #FC0 1px 0 10px;
  font-weight: 500;
}
td{
  font-size:1.3em;
}

.tbody {
  font-weight: 100;
  font-size: 10px;

}

table {

  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid black;
  border-right: 2px solid black;


}

#new_img_contac {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 260px;
  margin-bottom: 1%;

}

#new_img_contac>img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;

}

#new_img_contac>img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}


.game_information {
  margin-top: 1%;
  display: flex;
  flex-direction: row;

}

.game_information>div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* registration*/
.container_registration {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  margin-top: 2%;
  margin-left: 10%;
  height: 20vh;
  width: 90%;
  z-index: 0;
}

.container_registration>img {
  width: 10%;
  display: inline-block;
}

#nav_registration {

  margin-top: 0%;
  height: auto;

}

.container_registration h1 {


  display: inline-block;
}

.flex_title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 70%;
  margin-left: 10%;


}

fieldset {

  margin: 10px 20px;
  padding: 10px 10px;
  border-radius: 16px;

}

.hidden {
  border: 0;

}

.hidden>legend {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: last baseline;
}

input {
  margin-right: 1%;
  background-color: burlywood;
  border-radius: 16px;
  border: 1px solid palevioletred;
  color: blue;
  text-align: center;

}

label,
input,
legend {
  font-family: 'Poppins', sans-serif;
}

label {
  
  padding-right: 1%; 
  margin-left: 0px;
  width: auto;

}

label>span {
  font-family: 'Poppins', sans-serif;
  vertical-align: super;
  margin-right: 1px;
}

#buttons button {
  border-radius: 18px;
  width: 8vw;
  height: 8vh;


}

#buttons {
  align-items: end;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5%;
}

.reset {
  background-color: red;
}

.submit {
  background-color: green;
}

/*****/
.show_data {
  display: flex;
  justify-content: center;


}

.show_data td {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;

}

.container_map {
  border-radius: 16px;
  border: 2px solid rgb(115, 212, 164);
  box-shadow: 30px 27px 41px -10px rgba(11, 163, 37, 0.75);
  -webkit-box-shadow: 30px 27px 41px -10px rgba(11, 163, 37, 0.75);
  -moz-box-shadow: 30px 27px 41px -10px rgba(11, 163, 37, 0.75);
  padding: 10px;
  width: 30%;
  margin:200px 0px;
 
  

}

.container_map>iframe {
  width: 100%;
}
.title_map{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center; 

  
}
.maps{
  display:flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: 100%;
  /* column-gap: 200%;
  row-gap: 200%; */

}
/***************/
