* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Mochiy Pop One', sans-serif;
}


/* ************** ESTILOS DEL HEADER ********* */
/* estilos de bloque de h1 y nav  */
.container_header {
  position: relative;
  top: 0;
  left: 0;
  height: 9vh;
  width: 90%;

}

.container_header>h1 {
  position: absolute;
  top:30%;
  left: 10%;
  display: inline-block;
  font-style: italic;
  font-size: 2.5vw;
  font-weight:normal;
 

}

#nav {
  position: absolute;
  left: 60%;
  top: 85%;
  width: 30vw;
  height: 3vw;
  z-index: 3;
}

.nav_a {
  background-color: blue;
  text-decoration: none;
  color: aliceblue;
  border: 1px solid rgb(0, 0, 0);
  height: 50%;
  padding: 10px 15px;
  letter-spacing: 2px;
  
  box-shadow: 2px 2px rgb(156, 158, 158);

}

.nav_a:hover {
  background-color: rgb(141, 141, 236);
  border: 2px solid blue;
}

#selected:hover {
  background-color: rgb(151, 194, 163);
  border: 2px solid rgb(11, 128, 27);


}


#selected {
  background-color: rgb(11, 128,27);
  border: 1px solid rgb(0, 0, 0);
  
}



/* estilos de imagen */


.container {

  width: 90%;
  height: 300px;
  overflow: hidden;
  margin: 20px 30px 0px 30px;
  
  background-image: url("../img/design1_image1.jpg");
  background-size: cover;
  background-position-y: 25%;

  position: relative;

}


.title {
  margin: 0px 30px 0px 30px;
  color: rgb(7, 7, 7);
  
  font-size: 24px;
  
  text-align: center;
  border: 2px solid black;
  width: 90%;


}

/* ********** ESTILOS DEL MAIN  ********************* */
main {
  position: relative;
 width: 90%;
  top: 0;
  
}


/* estilos del logo  */
#figure2 {
  position: absolute;
  width: 10%;
  border-radius: 8px;
  left: 10%;
  margin-top: 2%;
  
  display: inline-block;



}

#figure2>img {
  width: 100%;


}

/* estilos del contenedor de texto del main */
#container2 {
  position: absolute;
  left: 40%;
  
  margin-top: 30px;
  left: 30%;
  width: 70%;
  height: auto;
  display: inline-block;
  text-align: justify;
  
}

h5 {
  font-weight: 500;
  font-style: italic;
  width: 80%;
 
  text-indent: 2%;
  font-family: 'Poppins', sans-serif;

  
}
h4{
  font-weight: normal;
  font-style: italic;

}

h5>a {
  color: rgb(87, 122, 238);
 
  text-decoration-color: black;
}
section{
  margin-bottom: 10px;
}