*{
   margin: 0;
   padding: 0;
    box-sizing:border-box ;
}
body {
    margin: 0px;
}

.container {
    display: inline-block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 0px;

    position: relative;
}

.container>.crop {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.contImagen {
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-bottom: 20px;
   top: -30px;
   left: 10%;

}

.imagen {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 90px;
   
    overflow: hidden;
    margin-top: 0px;
    /* margin-bottom: 50px; */

}

.head_1 {
   position: relative;
   margin-top: -100px;
   top: 0;
    margin-left: 30px;
    height: 150px;
    z-index: 1;
}

#nav{
    position: absolute;
    
    left: 30%;
    top: 60px;
    width: auto;
    height: 50px;
  }
  .nav_a{
    
    display: inline-block;
    padding: 10px 10px;
    letter-spacing: 3px;
   text-align: center;
    
 
    text-decoration: none;
    width: 200px;
    /*height: 50px; */
   
    background-color: #d4a373;
    color: #fefae0;
    border:2px solid #746c38;
    margin: 20px;
    border-radius: 12px;
    font-weight: bold;
    
   
    font-size: 24px;
   
    box-shadow: 2px 4px rgb(128, 115, 0);
    
  
  }
  .nav_a:hover{
    background-color: #EDDCB9;
    color:#d4a373 ;
    border:2px solid rgb(100, 99, 20);
  }
  
  #selected:hover{
    background-color: rgb(151, 194, 163);
    border:2px solid rgb(11, 128, 27);
  
  
  }
  #selected{
    background-color:#588157;
    border:2px solid rgb(85, 202, 100);
    color: #dad7cd;
   
    box-shadow: 2px 4px rgb(128, 115, 0);
  }

/* main*/
main {
    margin-left: 60px;
}
section{
    margin: 20px 0px;

}
article{
    margin: 30px 20px;
}
h2{
    margin-bottom: 10px;
}


.titulo {
    text-decoration: underline rgb(182, 209, 63);
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
  
}

.subTitulo {
    text-shadow: 1px 1px 2px rgb(150, 175, 127), 0 0 1em rgb(142, 151, 14), 0 0 0.2em chocolate;
    font-size: 28px;
    font-style: italic;


}


.container_contac{
    position: relative;
    width: 100%;
    height: 100px;

}
container_a {
    display: inline-block;
    position: absolute;
    width: 40%;

}
.iconosAbout{
    width: 200px;
    height: 200px;
    margin:10px;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}




figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

