* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mochiy Pop One', sans-serif;
  color: aliceblue;
  background-color: #4d4b51;
  z-index: 0;

}


/* ************** ESTILOS DEL HEADER ********* */
/* estilos de bloque de h1 y nav  */
.container_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  height: 9vh;
  width: 90%;
  z-index: 0;


}

.container_header>h1 {
  display: flex;
  width: 40vw;
  margin-left: 7%;
  font-style: italic;
  font-size: 2.0vw;
  font-weight: normal;
  justify-content: center;
  border-bottom: 1px solid#FC0;



}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: end;

  margin-top: 13%;
  width: 40vw;
  height: 20vh;
  z-index: 3;
  background-color: transparent;

}

.nav_a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  font-size: small;
  text-decoration: none;
  color: aliceblue;
  border: 1px solid rgb(0, 0, 0);
  height: 30%;
  padding: 0px 10px;
  margin: 10px 5px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px rgb(156, 158, 158);

}

.nav_a:hover {
  background-color: rgb(141, 141, 236);
  border: 2px solid blue;
}

#selected:hover {
  background-color: rgb(151, 194, 163);
  border: 2px solid rgb(11, 128, 27);


}


#selected {
  background-color: rgb(11, 128, 27);
  border: 1px solid rgb(0, 0, 0);

}



/* estilos de imagen */


.container {
  display: flex;
  width: 90%;
  height: 300px;
  overflow: hidden;
  margin: 1% 0% 0% 4.5%;
  display: inline-block;
  background-image: url("../img/design1_image2.jpg");
  background-size: cover;
  background-position-y: 45%;
  z-index: 2;


}


.title {
  margin: 0px 0px 0px 4.5%;
  color: rgb(247, 244, 244);
  background-color: black;
  font-size: 24px;
  text-align: center;
  border: 2px solid black;
  width: 90%;


}

/* ********** ESTILOS DEL MAIN  ********************* */
main {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 0.5%;
  min-height: 38vh;

}


/* estilos del logo  */
#figure2 {
  display: flex;
  flex-direction: column;
  width: 10%;
  border-radius: 8px;
  margin-left: 10%;
  margin-top: 2%;

}

#figure2>img {
  width: 100%;


}

/* estilos del contenedor de texto del main */
#container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10%;
  margin-top: 30px;
  width: 70%;
  text-align: left;

}

#container2>h3,
h2 {
  margin-bottom: 10px;
  text-shadow: #FC0 1px 0 10px;
  font-weight: 500;
}

h5 {
  font-weight: 500;
  font-style: italic;
  width: 80%;
  text-indent: 2%;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;


}

h4 {
  font-weight: normal;
  font-style: italic;

}

h5>a {
  color: rgb(87, 122, 238);
  text-decoration-color: black;
}

section {
  margin-bottom: 10px;
}

/**      rules     **/
.abc {
  margin-left: 10%;
  list-style-type: lower-latin;
}

.li_style {
  margin-left: 5%;
  list-style-type: circle;
}

.regulations {
  margin: 10px 30px;

}

.regulations>li {
  margin-bottom: 1%;
  font-style: italic;
}

.rules>h4 {
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-bottom: 0px;
  margin-left: 5%;
  border: 1px solid black;
  height: 10%;
  padding: 2px;
  background-color: black;

  font-size: 8px;

}

footer>p {
  background-color: black;
}

th,
td {
  width: 5%;
  text-align: center;
  padding-top: .5em;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

th {
  text-shadow: #FC0 1px 0 10px;
  font-weight: 500;
}

.tbody {
  font-weight: 100;
  font-size: 10px;

}

table {

  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid black;
  border-right: 1px solid black;


}

#new_img_contac {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 300px;
  margin-bottom: 20px;

}

#new_img_contac>img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;

}

#new_img_contac>img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.container2 {
  width: 30% !important;
}