* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* ************** ESTILOS DEL HEADER ********* */
/* estilos de bloque de h1 y nav  */
.container_header {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;

}

.container_header>h1 {
  position: absolute;
  top:30%;
  left: 10%;
  display: inline-block;
  font-style: italic;
  font-size: 3vw;
  letter-spacing:5px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#nav {
  position: absolute;
  left: 60%;
  top: 70%;
  width: 100vw;
  height: 50vw;
  z-index: 3;
}

.nav_a {
  background-color: blue;
  text-decoration: none;
  color: aliceblue;
  border: 1px solid rgb(0, 0, 0);
  height: 50%;
  padding: 10px 15px;
  letter-spacing: 2px;
  
  box-shadow: 2px 2px rgb(156, 158, 158);

}

.nav_a:hover {
  background-color: rgb(141, 141, 236);
  border: 2px solid blue;
}

#selected:hover {
  background-color: rgb(151, 194, 163);
  border: 2px solid rgb(11, 128, 27);


}


#selected {
  background-color: rgb(11, 128,27);
  border: 1px solid rgb(0, 0, 0);
  
}



/* estilos de imagen */
header img {

  position: absolute;
  left: -100%;
  right: -100%;
  top: -20%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;

}

.container {

  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 10px 0px 0px 0px;

  position: relative;

}


.title {
  margin: 0px;
  color: rgb(7, 7, 7);
  font: italic smaller sans-serif;
  font-size: 32px;
  padding: 3px;
  text-align: center;
  border: 2px solid black;


}

/* ********** ESTILOS DEL MAIN  ********************* */
main {
  position: relative;

  top: 0;
  
}


/* estilos del logo  */
#figure2 {
  position: absolute;
  width: 20%;
  border-radius: 8px;
  left: 10%;
  
  display: inline-block;



}

#figure2>img {
  width: 100%;


}

/* estilos del contenedor de texto del main */
#container2 {
  position: absolute;
  left: 40%;
  
  margin-top: 30px;
  margin-left: 30px;
  width: 60%;
  height: auto;
  display: inline-block;
  text-align: justify;
}

h5 {
  font-weight: normal;
  font-style: italic;
  width: 80%;
  padding: 5px 0;
  
}

.margin_h5{
  margin-left: 10px;

}

h5>a {
  color: rgb(87, 122, 238);
 
  text-decoration-color: black;
}