

.figure2{
   
    margin-bottom: 400px;
  

}
img{
  width:50%;
}


header{
    height: 150px;
}
figure{
  width: 250px;
  float: left;
  padding-left: 0px;
  padding-inline-end: 0px;
  padding-inline-start: 100px;
  margin: 0px;


}


   
